niri
neovim
stow
kitty
npm
zen-browser-bin
nushell
starship

fuzzel

vesktop-bin

xwayland-satellite

noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
noto-fonts-sc
noto-fonts-tc

tree

brightessctl

python
python-gobject
fabric-cli-git
