niri
neovim
stow
kitty
npm
zen-browser-bin
fish
starship

fuzzel

xwayland-satellite

noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
noto-fonts-sc
noto-fonts-tc

tree

brightnessctl

python
python-gobject
fabric-cli-git
gtk-layer-shell

cliphist
wl-clipboard

swww

nwg-look
