niri-git
neovim
stow
npm
zen-browser-bin
fish
starship

fuzzel

xwayland-satellite

noto-fonts
noto-fonts-cjk
noto-fonts-emoji
noto-fonts-extra
noto-fonts-sc
noto-fonts-tc

tree

brightnessctl

python
matugen-bin
swaync
python-gobject
fabric-cli-git
kitty
proton-vpn-gtk-app
gtk-layer-shell
swaylock

cliphist
wl-clipboard

swww

nwg-look

rustup
dunst
